body{
    margin: 0px;
    padding: 0px;
    background: #242B33;
}

ul,a{
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.main_photo{
    background-image:linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.section_header{
    display: flex;
    justify-content: center;
}

.container_header{
    width: 1100px;
    display: flex;
    padding: 30px 15px 71px 15px;
}

.logo{
    text-align: center;
    width: 167px;
}

.HouseVOP{
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.complex{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    margin-top: 15px;
}

.container_nav{
    display: flex;
    margin-left: 382px;
}

.container_nav>.el{
    margin-right: 40px;
    display: flex;
}

.container_nav>.el:nth-child(5){
    margin: 0px;
}

.ul_header_text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.section_hero{
    display: flex;
    justify-content: center;
}

.container_hero{
    width: 1100px;
    text-align: center;
    padding: 71px 15px 132px 15px;
}

.main_text_hero{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #D4C17F; 
}

.maus{
    margin: 100px 0px 200px 0px;
}

.address_hero{
    display: flex;
    justify-content: center;
}

.adres_hero{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 130px;
    display: inline;
}

.numer_hero{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: inline;
}

.section_reasons{
    display: flex;
    justify-content: center;
}

.container_reasons{
    width: 1100px;
    padding: 120px 15px 60px 15px;
}

.ul_reasons{
    display: flex;
    justify-content: center;
}

.ul_reasons>.el{
    width: 193px;
    margin-right: 70px;
}

.ul_reasons>.el:nth-child(4){
    margin: 0px;
}

.text_reasons{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}

.text_reasons::before{
    display: inline-block;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 53px;
    height: 80px;
    width: 193px;
}

.bench::before{
    background-image: url(../img/bench.svg);
}

.building::before{
    background-image: url(../img/building.svg);
}

.fountain::before{
    background-image: url(../img/fountain.svg);
}

.bicycle::before{
    background-image: url(../img/bicycle.svg);
}

.seaction_apartments{
    display: flex;
    justify-content: center;
}

.container_apartments{
    width: 1100px;
    padding: 60px 15px 0px 15px;
}

.main_text_apartments{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

.ul_apartments{
    display: flex;
    flex-wrap: wrap;
}

.ul_apartments>.el{
    margin: 0px 30px 30px 0px;
    position: relative;
}

.ul_apartments>.el:nth-child(2){
    margin-right: 0px;
}

.ul_apartments>.el:nth-child(3){
    margin-bottom: 0px;
}

.ul_apartments>.el:nth-child(4){
    margin-bottom: 0px;
    margin-right: 0px;
}

.text_apartments{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 50px;
    z-index: 1;
}

.section_see{
    display: flex;
    justify-content: center;
    background-image:linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/form.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.container_see{
    width: 1100px;
    padding: 0px 15px 0px 15px;
    display: flex;
    padding: 180px 0px 180px 0px;
}

.container_text_see{
    margin-right: 35px;
}

.main_text_see{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 50px;
}

.text_see{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 535px;
}

.input_name_see{
    background: #FFFFFF;
    opacity: 0.2;
    border: none

}

.input_numer_see{
    background: #FFFFFF;
    opacity: 0.2;
    text-decoration: none;
    border: none;
}

.text_name_see{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.text_numer_see{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.text_see_var{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #E7E7E7;
}

.button_see{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 12px 54px;
    background: #D4C17F;
    border: none;
    cursor: pointer;
}

.section_video{
    display: flex;
    justify-content: center;
}

.container_video{
    width: 1100px;
    padding: 0px 15px 90px 15px;
    text-align: center;
    position: relative;
}

.play{
    position: absolute;
    right: 510px;
    top: 270px;
}

.section_map{
    display: flex;
    justify-content: center;
}

.container_map{
    width: 1100px;
    padding: 90px 15px 90px 15px;
}

.mein_text_map{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 100px;
}

.secton_question{
    display: flex;
    justify-content: center;
}

.container_question{
    width: 1100px;
    padding: 90px 15px 90px 15px;
}

.form_question{
    display: flex;
    text-align: center;
}

.main_text_question{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 61px;
}

.text_question{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #E7E7E7;
    width: 255px;
    margin-right: 35px;
}

.input_name_question{
    background: #FFFFFF;
    opacity: 0.2;
    border: none;
}

.input_numer_question{
    background: #FFFFFF;
    opacity: 0.2;
    border: none;
}

.text_name_question{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.text_numer_question{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.button_question{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    background: #D4C17F;
    border: none;
    padding: 12px 54px;
    cursor: pointer;
}

.section_footer{
    display: flex;
    justify-content: center;
}

.container_footer{
    width: 1100px;
    padding: 90px 15px 51px 15px;
    display: flex;
}

.logo_footer{
    text-align: center;
    width: 167px;
    margin-right: 166px;
}

.ul_footer{
    margin-right: 434px;
}

.ul_footer>.el{
    margin-bottom: 15px;
}

.ul_footer>.el:nth-child(5){
    margin: 0px;
}

.text_ul_footer{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
}

.text_footer_address{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 15px; 
}

.text_footer_address:nth-child(4){
    margin-bottom: 20px;
}

.email_footer_address{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #D4C17F;
}

.icon_footer>a{
    margin-right: 20px;
}

.icon_footer>a:nth-child(3){
    margin: 0px;
}